{% extends 'base.html' %}
<!-- webpage title -->
{% block title %}Menu|Ted's Bar and Café{% endblock %}

{% block content %}
<div class="menu-page">
<!-- filter option for drinks -->
<section class="filter">
    <h2>Drinks</h2>
    <!-- buttons for different categories -->
    <ul>
        <li><button onclick="filterCategory('all')">All</button></li>
        <li><button onclick="filterCategory('hot-coffees')">Hot Coffees</button>
        <li><button onclick="filterCategory('cold-coffees')">Cold Coffees</button>
        <li><button onclick="filterCategory('hot-teas')">Hot Teas</button>
        <li><button onclick="filterCategory('iced-teas')">Iced Teas</button>
        <li><button onclick="filterCategory('o-hot-drinks')">Other Hot Drinks</button>
        <li><button onclick="filterCategory('o-cold-drinks')">Other Cold Drinks</button>
    </ul>
</section>
 <div class="product-display">
<!-- special section on top of menu page for offers -->
    <div class="specials">
       <div class="drink-of-the-day">
          <h3 style="color:rgba(87, 21, 35, 1);font-weight:bolder;">Today's Special</h3>
            <img src="{{ url_for('static', filename='images/cappucino.png') }}" alt="drink-of-day">
            <div class="details">
                <p>Coffee</p>
                <p>$5</p>
            </div>
       </div>
       <div class="current-offer">
        <p> Buy 6 coffees,<br> your seventh on us.<sup>*</sup></p>
        <img src="{{ url_for('static', filename='logos/specials.gif') }}" alt="special-offer" style="height: 150px;width:100px;" >
        <p>* Limited time offer only</p>
       </div>
</div>
<!-- all items list -->
<div class="all-lists">
    {% for category, items in grouped_items.items() %}
        <h2>{{ category }}</h2>
        <div class="product-card">
        {% for item in items %}
        <div class="card-items">
            <div class="img-container">
                 <img src="{{ url_for('static', filename='images/' ~ item.img) }}" alt="{{ category }}">
            </div>
            <div class="card-item-info">
                <p>{{ item.name }}</p>
                <p>{{ item.price }}</p>
           </div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
</div>
</div>
<!-- javascript for filter option -->
<!-- <script>
    function filterCategory(category){
    const url = category === 'all' ? '/menu' : `/filter/${category}`;
    fetch(url)
        .then(response => response.text())
        .then(html => {
            document.getElementById('result').innerHTML = html;
        });
    }
</script> -->
{% endblock %}